{% extends 'base.html' %}

{% block title %}
    Details info about Train.
{% endblock %}

{% block content %}
    <h1>Detail info</h1>
    <div class="row">
        <div class="col-md-8 mx-auto my-2">
            <table class="table table-striped">
                <tr>
                    <th>Number</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Time in travel</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <td> {{ train.name }}</td>
                    <td>{{ train.from_city }}</td>
                    <td>{{ train.to_city }}</td>
                    <td>{{ train.travel_time }}</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>





    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'trains:train' %}">
                <button type="button" class="btn btn-primary">Back to list</button>
            </a>

        </div>
    </div>
{% endblock %}